[Unit]
Description=Raspberry Pi Monitoring Software (OpenVPN included) by MattioSystems
Before=network.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/monitoring
ExecStart=/usr/local/go/bin/go run main.go

[Install]
WantedBy=multi-user.target